html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevents scrolling */
  background: #0f0f0f; /* optional but matches your container */
}

canvas {
cursor: pointer !important;
}


